<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>TestProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>AddressList.jsp</welcome-file>
	</welcome-file-list>
	<security-role>
		<role-name>Gast</role-name>
	</security-role>
	<security-role>
		<role-name>Benutzer</role-name>
	</security-role>
	<security-role>
		<role-name>Editor</role-name>
	</security-role>
	<security-constraint>
		<display-name>view</display-name>
		<web-resource-collection>
			<web-resource-name>List</web-resource-name>
			<url-pattern>/AddressList.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Gast</role-name>
			<role-name>Benutzer</role-name>
			<role-name>Editor</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>viewDetails</display-name>
		<web-resource-collection>
			<web-resource-name>Details</web-resource-name>
			<url-pattern>/AddressDetail.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Benutzer</role-name>
			<role-name>Editor</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Edit</display-name>
		<web-resource-collection>
			<web-resource-name>Modify</web-resource-name>
			<url-pattern>/delete</url-pattern>
			<url-pattern>/save</url-pattern>
			<url-pattern>/AddressForm.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Editor</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login_error.jsp</form-error-page>
		</form-login-config>
	</login-config>
</web-app>